html, body {
	width: 100%;
	height: 100%;
	position: relative;
}
body, div, span, a, p {
	margin: 0;
	padding: 0;
}
body {
	font-size: 13px;
	font-family: 'Arial', 'Helvetica', sans-serif;
}
.wrap {
	max-width: 852px;
	position: relative;
	margin: 0 auto;
}
.header {
	position: relative;
	height: 82px;
	border: #d3bcd2 solid 1px;	
}
.header_logo {
	position: absolute;
	width: 104px;
	height: 67px;
	margin: 8px 0 0 16px;
}
.header_contacts {
	margin-left: 222px;
	position: relative;
}
.header_contacts_date {
	margin-top: 14px;
	line-height: 18px;
	font-size: 12px;
	font-style: italic;
	color: #7a7a7a;
}
.header_contacts_phone {
	font-size: 24px;
	color: #464646;
}
.header_contacts_phone_violet {
	font-weight: bold;
	color: #7f4a94;
}
.header_facebook {
	position: absolute;
	right: 130px;
	top: 20px;
}
.header_yamarket {
	position: absolute;
	right: 21px;
	top: 20px;			
}
.middle {
	position: relative;
	height: 409px;
	background-image: url('../img/middle_review_background.png');
}
.middle_review {
    max-width: 358px;
    float :right;
  	height: 0;
}
.middle_review_text {
	float: right;
}
.middle_review_text_one {
	text-transform: uppercase;
	margin: 10px 35px 0 0;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
}
.middle_review_text_two {
	color: #ecbdff;
	font-size: 24px;
	margin-top: 13px;
	margin-right: 35px;
}
.middle_review_item {
	position: relative;
	display: block;
	height: 93px;
	border-radius: 7px;
	width: 358px;
    background: #fff;
    right: 30px;
}
.middle_review_icon {
	display: block;
	float: left;
	width: 65px;
	height: 59px;
}
.middle_review_item_description {
	display: block;
	position: absolute;
	margin-top: 14px;
	margin-left: 106px;
	font-size: 24px;
	line-height: 30px;
	width: 300px;
	color: #3c3c3c;
}
.middle_review_item_zakaz{
	border-radius: 7px;
	bottom: -20px;
}
.middle_review_item_phone {
	margin-top: 30px;
	background: #fff;
	bottom: -10px;
}
.middle_review_item_zakaz_icon {
	background: url('../img/middle_review_icon.png') no-repeat;
	margin-top: 16px;
	margin-left: 22px;
    background-position: -65px 0;
}
.middle_review_item_phone_icon {
	background: url('../img/middle_review_icon.png') no-repeat;
	margin-top: 14px;
	margin-left: 17px;
	background-position: 0 0;
}
.round_blue {
	position: absolute;
	background: url('../img/or.png'); 
	width: 47px;
	height: 47px;
	margin-left: 130px;
	margin-top: 5px;
	z-index: 10;
}
.middle_review_button {
	width: 357px;
	height: 60px;
	float: right;
	display: block;
	margin-top: 266px;
	margin-right: 30px;
	background: url('../img/button.png');
}
.subscribe {
	height: 220px;
	border: 1px solid #d3bcd2;
}
.subscribe_facebook_logo {
	margin: 24px 0 0 20px;
	float: left;
	display: block;
}
.subscribe_facebook_text {
	display: inline;
	top: 63px;
}
.subscribe_facebook_text_span {
	margin-left: -20px;
	position: absolute;
	margin-top: 63px;
	font-size: 30px;
	color: #464646;
}
.subscribe_facebook_text_link {
	margin-top: 63px;
	font-size: 30px;
	color: #c745be;
}
.footer {
	clear: both;
	height: 110px;
	line-height: 28px;
}
.footer_hot-line{
	margin: 19px 0;
	color: #7a7a7a;
	font-size: 18px;
	float: left;
}
.footer_hot-line_mailto {
	color: #e848dc;
	font-size: 18px;
}
.footer_hot-line_phone-dark {
	color: #464646;
	font-size: 24px;
}
.footer_hot-line_phone-violet {
	font-weight: bold;
	color: #7f4a94;
	font-size: 24px;
}
.footer_questions {
	margin: 19px 0 0 129px;
	color :#464646;
	font-size: 18px;
	width: 220px;
	float: left;
}
.social_div {
	margin: 19px 10px;
	color: #7a7a7a;
	font-size: 18px;
	width: 193px;
	height: 60px;
	float: left;
}
.social {
	margin: 25px 562px;
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
}
.social_text {
	display: inline-block;
	float: left;
	position: absolute;
	left: 657px;
}
.social-youtube {
  	left: 96px;
	background: url("https://pp.vk.me/c614916/v614916520/1b15/49G1BxRBlBE.jpg") no-repeat;
}
.social-fb {
  	left: 147px;
	background: url("https://pp.vk.me/c614916/v614916520/1b15/49G1BxRBlBE.jpg") no-repeat;
	background-position: -40px 0;
}
.social-tw {
   left: 198px;
	background: url("https://pp.vk.me/c614916/v614916520/1b15/49G1BxRBlBE.jpg") no-repeat;
	background-position: -80px 0;
}
.social-vk {
   left: 249px;
	background: url("https://pp.vk.me/c614916/v614916520/1b15/49G1BxRBlBE.jpg") no-repeat;
	background-position: -120px 0;
}